.title {
  padding: 1rem 2rem;
  margin: 0;
  text-align: center;
  color: var(--oev-palette-secondary-dark);
}

.content {
  padding: 0 2rem 1rem;
  margin: 0;
  text-align: justify;
}

.thumbnail {
  position: relative;
  height: 10rem;
  width: 100%;
}

.thumbnail .img {
  object-fit: cover;
}

.buttonContainer {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
